// ------------------------------------------------------------
// APP IDENTITY
// ------------------------------------------------------------
DISPLAY_NAME = Troca Figurinhas
PRODUCT_BUNDLE_IDENTIFIER = br.app.king.exchange.stickers

// ------------------------------------------------------------
// APP ENVIRONMENT
// ------------------------------------------------------------
EX_APP_ID = exchange_stickers
EX_APP_KEY = ex-stickers
EX_LOCALIZED_FILE = stickers
EX_LANGUAGE = pt
EX_BUNDLE_LOCALIZATION = pt-BR
NS_CAMERA_USAGE_DESCRIPTION = $(DISPLAY_NAME) usa a câmera para fotografar suas figurinhas e criar produtos para troca.
NS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION = $(DISPLAY_NAME) usa sua localização para encontrar trocas de figurinhas próximas.
NS_PHOTO_LIBRARY_USAGE_DESCRIPTION = $(DISPLAY_NAME) usa sua galeria para escolher fotos das suas figurinhas e criar produtos para troca.
NS_USER_TRACKING_USAGE_DESCRIPTION = $(DISPLAY_NAME) usa sua permissão para personalizar anúncios e manter o app gratuito.

// ------------------------------------------------------------
// ADS / GENERAL
// ------------------------------------------------------------
AD_APP_ID = ca-app-pub-5763600816948550~5846036354
AD_APP_OPEN = ca-app-pub-5763600816948550/2489624040
AD_REWARD = ca-app-pub-5763600816948550/6237297366
AD_BANNER = ca-app-pub-5763600816948550/1139363446

// ------------------------------------------------------------
// STORE / IN-APP PURCHASES
// ------------------------------------------------------------
STORE_PRODUCT_SUPERLIKE = br.app.king.exchange.stickers.superlike
STORE_PRODUCT_BOOST_PROFILE = br.app.king.exchange.stickers.boost.profile
